@media only screen and (max-width: 1679px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1441px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1199px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}