@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 16px;
}
button {
  cursor: pointer;
}
:focus {
  outline: none;
}
.error-msg {
  color: red;
  margin: 0;
  font-size: 0.9375rem;
}
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $primary-color;
  padding: 15px;
  .login-form-wrapper {
    width: 100%;
    max-width: 550px;
    background: #ffffff;
    border-radius: 30px;
    padding: 2.1875rem 2.8125rem 3.125rem;
    box-shadow: -1px 12px 23px rgba(15, 35, 90, 0.32);
    article {
      margin-bottom: 1.25rem;
    }
    .section-text {
      font-size: 1.375rem;
      margin-bottom: 0.625rem;
      color: $dark;
      font-weight: 500;

      span {
        color: $primary;
        font-weight: 600;
      }
    }
    .section-sub-text {
      font-size: 1rem;
      margin-bottom: 1.875rem;
      color: #9e9e9e;
    }
    .form-group {
      margin-bottom: 0.9375rem;
      label {
        display: block;
        font-size: 1.0625rem;
        margin-bottom: 0.625rem;
      }
      .form-control {
        padding: 1rem 1.25rem;
        border-radius: 10px;
        font-size: 1.0625rem;
        box-shadow: none;
        line-height: 1;
        background: $input-bg;
        border: 0;
        width: 100%;
        &[type="password"] {
          letter-spacing: 2px;
        }
      }
    }
    .action-btn {
      margin-top: 1.875rem;
      width: 100%;
      padding: 0.875rem 0.75rem;
      box-shadow: none;
      border-radius: 10px;
      font-size: 1.125rem;
      border: 0;
      color: #fff;
      font-weight: 500;
      background: $primary;
      transition: 0.3s;
      &:hover {
        background: #2196f3;
      }
    }
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background: #303643;
  padding: 1.5625rem 0;
  h1 {
    font-size: 1.25rem;
    color: #fff;
  }
}
.dashboard-page {
  min-height: 100vh;
  background: #f9f9fb;
  .dashboard-section {
    padding: 50px 0;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  thead {
    tr {
      border-bottom: 2px solid #e5e9ec;
    }
  }
  tbody {
    tr {
      &:hover {
        background: #fff;
      }
      border-bottom: 1px solid #e5e9ec;
      &:last-child {
        border: 0;
      }
    }
  }
  th,
  td {
    padding: 0.75rem;
  }
  th {
    color: #bdc2ce;
    font-weight: 500;
    font-size: 1.0625rem;
  }
  td {
    font-size: 0.9375rem;
    color: #323a45;
  }
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  img {
    max-width: 50%;
  }
}
.table-wrapper{
  overflow: auto;
}
@import './responsive.scss';